<configuration>
    <root level="INFO">
        <appender-ref ref="stdout" />
    </root>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%5p [%t] (%F:%L) - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="KINESIS" class="com.amazonaws.services.kinesis.logback.KinesisAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%m</Pattern>
        </layout>
        <streamName>testStream</streamName>
        <encoding>UTF-8</encoding>
        <maxRetries>3</maxRetries>
        <bufferSize>1000</bufferSize>
        <threadCount>20</threadCount>
        <shutdownTimeout>30</shutdownTimeout>
        <endpoint>kinesis.us-east-1.amazonaws.com</endpoint>
        <region>us-east-1</region>
    </appender>

    <logger name="KinesisLogger" additivity="false" level="INFO" >
        <appender-ref ref="KINESIS"/>
    </logger>

    <logger name="com.amazonaws.services.kinesis.logback" additivity="false" level="DEBUG">
        <appender-ref ref="stdout"/>
    </logger>

</configuration>